@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900,900i');

* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

.grid {
    display: grid;
    grid-template-columns: 20% 80%;
}

.left {
    background-color: #0ea5e5;
    color: white;
    height: 100vh;
}

.flex-menu {
    display: flex;
    flex-direction: column;
    margin: 15px;
}

.flex-object {
    display: flex;
    flex-direction: row;
    max-height: 50px;
}

svg {
    height: auto;
    width: 50px;
}

.menu-text {
    font-size: 20px;
    font-weight: bold;
    margin-left: 30px;
}

.logo-object{
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

.logo-image {
    align-items: start;
    display: flex;
    justify-content:start;
    margin-left: 10px;
    margin-top: 20px;
    max-height: 100px;
    max-width: 100px;
}

.logo-text {
    align-items: center;
    color: black;
    display: flex;
    font-size: 20px;
    font-weight: bold;
    justify-content: center;
}

.right {
    background-color: whitesmoke;
    display: grid;
    grid-template-rows: 25% 75%;
    height: 100vh;
}

.header {
    align-items: start;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.nav-bar, .profile {
    align-items: flex-end;
    display: flex;
    flex-direction: row;
    margin: 0px 15px 0px 15px;
} 

.form-input {
    background-color: lightgrey;
    border-radius: 10px;
    border: 5px solid lightcyan;
    margin-left: 30px;
    margin-right: 200px;
    width: 500px;
}

.welcome-bar {
    align-items: flex-end;
    display: flex;
    flex-direction: row;
    justify-content:right;
} 

.profile-buttons {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 400px;
    width: 30%;
}

.btn {
    background-color: darkkhaki;
    border-radius: 8px;
    border: 2px solid #f1f1f1;
    color: white;
    font-weight: bold;
    height: 40px;
    width: 70px;
}

.avatar-nav{
    margin: 0px 20px 0px 20px
}

.content {
    background-color: #f1f1f1;
    display: grid;
    grid-template-columns: 70% 30%;
}

.projects {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
}

.cards {
    display: grid;
    grid-template-columns: 50% 50%;
}

.card {
    align-items: flex-start;
    background-color: white;
    border-left: 5px solid #facc15;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    height: 150px;
    justify-content: center;
    margin-bottom: 5px;
    margin-left: 10px;
    padding: 10px;
    width: 80%;
}

svg {
    width: 30px;
}

.card > h6 {
    font-size: 15px;
}

.projects > h4 {
    margin-left: 20px;
}

.trends {
    display: grid;
    grid-template-rows: 60% 40%;
    
}

.ann-card {
    background-color: white;
    border-radius: 10px;
    height: 80%;
    width: 80%;
}

.trend-card {
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    height: 70%;
    padding-top: 15px;
    width: 70%;
}

.text-announce {
    padding: 5px 10px;
}

.text-announce > p{
    font-size: 8px;
    margin: 0;
    padding: 0;
}

.text-announce > h6{
    font-size: 15px;
    margin: 0;
    padding: 0;
}

.divide {
    align-items: center;
    border: 1px solid gray;
    display: flex;
    justify-content: center;
    width: 80%;
}

.text-trend {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

img {
    height: 35px;
    margin: 10px;
    width: 35px;
}

.roles {
    display: flex;
    flex-direction: column;
    margin: 2px;
}
